<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Админ-панель</title>
  </head>
  <body>
    <main class="max-w-5xl mx-auto my-5">
      <h1 class="text-center mb-5 text-3xl font-semibold">Админ-панель</h1>
    </main>
  </body>
</html>
